// compileCompressed: ../../build/responsive.css

/** Laptop with HiDPI Screen **/
@media only screen and (max-width:1440px) {

}
/** Laptop with MDPI Screen **/
@media only screen and (max-width:1280px) {

}

/** Foundation large columns **/
@media only screen and (max-width:1024px) {

}
/** Foundation medium columns **/
@media only screen and (max-width:960px) {

}

/** Foundation small columns **/
@media only screen and (max-width:640px) {

}

/** Smartphones [Android + iPhone 5+] **/
@media only screen and (max-width:375px) {

}

/** Small and old iPhones **/
@media only screen and (max-width:320px) {

}
