@mixin trans($ms) {
	-webkit-transition: all $ms ease;
	-moz-transition: all $ms ease;
	-ms-transition: all $ms ease;
	-o-transition: all $ms ease;
	transition: all $ms ease;
}

$black : #000000;
$white: #FFFFFF;
